
@model SyndicateIT.Model.ViewModel.SetupManagement.Bus.BusViewModel
@using SyndicateIT.Views.App_GlobalResources
@{
    Layout = null;
    string PublicResources = "~/Views/SetupManagement/Bus/PublicResource";
}
@Html.Partial("~/Views/Shared/_NavigationPartial.cshtml", @Model.Navigation)
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="@Model.ClassTitle"></i> @Model.Title<span></span>
            </h1>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_AlertPartial.cshtml", Model.Alert)
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidgetTransparent" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading"></header>
                    <!-- widget div-->
                    <div role="content">
                        <div class="row">
                            <div class="widget-body">
                                @using (Html.BeginForm("AddUpdateBus", "Bus", FormMethod.Post, new { @class = "smart-form", role = "form", id = "Bus-form" }))
                                {
                                    @Html.HiddenFor(m => m.Bus_ID)
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <fieldset>
                                        <section class="form-group  col-sm-6">
                                            @Html.Label(GeneralResources.IS_ACTIVE, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                <label class="checkbox">
                                                    @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @checked = "checked" })
                                                    <i></i>
                                                </label>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Bus_Name, Html.Resource("Bus_Name", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Bus_Name).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Bus_Name")
                                                <div class="text-danger field-validation-error" id="Bus_Name_ValidationMsg" style="display:none;">
                                                    <span for="Bus_Name" class=""> @Html.Resource("Bus_Name_Required", PublicResources)</span>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Bus_Number, Html.Resource("Bus_Number", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Bus_Number).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Bus_Number")
                                                <div class="text-danger field-validation-error" id="Bus_Number_ValidationMsg" style="display:none;">
                                                    <span for="Bus_Number" class=""> @Html.Resource("Bus_Number_Required", PublicResources)</span>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Bus_Area, Html.Resource("Bus_Area", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Bus_Area).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Bus_Area")
                                                <div class="text-danger field-validation-error" id="Bus_Area_ValidationMsg" style="display:none;">
                                                     <span for="Bus_Area" class=""> @Html.Resource("Bus_Area_Required", PublicResources)</span>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Bus_Fees, Html.Resource("Bus_Fees", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @(Html.Kendo().NumericTextBoxFor(m => m.Bus_Fees).Min(0).HtmlAttributes(new { @class = "form-control-md10" }))
                                                @*<div class="text-danger field-validation-error" id="Class_Title_ValidationMsg" style="display:none;">
                                                     <span for="SearchClasses" class=""> @Html.Resource("Class_Title_Required", PublicResources)</span>
                                                </div>*@
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Company_ID, Html.Resource("Company_ID", PublicResources), new { @class = "col-md-4  control-label" })
                                            <div class="col-md-6">
                                                @(Html.Kendo().DropDownListFor(m => m.Company_ID)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("Select Company")
                                                  .Filter("startswith")
                                                .HtmlAttributes(new { @class = "ui-select form-control-md10" })
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetCompanyName", "Bus");
                                                    });
                                                }))
                                                <div class="text-danger field-validation-error" id="Company_ID_ValidationMsg" style="display:none;">
                                                     <span for="Company_ID" class=""> @Html.Resource("Company_ID_Required", PublicResources)</span>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Bus_Platenumber, Html.Resource("Bus_Platenumber", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Bus_Platenumber).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Bus_Platenumber")
                                                <div class="text-danger field-validation-error" id="Bus_Platenumber_ValidationMsg" style="display:none;">
                                                     <span for="Bus_Platenumber" class=""> @Html.Resource("Bus_Platenumber_Required", PublicResources)</span>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Driver_Name, Html.Resource("Driver_Name", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Driver_Name).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Driver_Name")
                                                <div class="text-danger field-validation-error" id="Driver_Name_ValidationMsg" style="display:none;">
                                                     <span for="Driver_Name" class=""> @Html.Resource("Driver_Name_Required", PublicResources)</span>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Assistant_Name, Html.Resource("Assistant_Name", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Assistant_Name).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Assistant_Name")
                                                <div class="text-danger field-validation-error" id="Assistant_Name_ValidationMsg" style="display:none;">
                                                    @* <span for="SearchBus" class=""> @Html.Resource("Bus_Number", PublicResources)</span>*@
                                                </div>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Phone_Number, Html.Resource("Phone_Number", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Phone_Number).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Phone_Number")
                                                <div class="text-danger field-validation-error" id="Phone_Number_ValidationMsg" style="display:none;">
                                                     <span for="Phone_Number" class=""> @Html.Resource("Phone_Number_Required", PublicResources)</span>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="form-group  col-sm-12">
                                            @Html.LabelFor(m => m.Bus_Description, Html.Resource("Bus_Description", PublicResources), new { @class = "col-md-2 text-left control-label" })
                                            <div class="col-md-9">
                                                @(Html.Kendo().EditorFor(m => m.Bus_Description).Tools(tools => tools.Clear().Bold().Italic().Underline().Strikethrough().JustifyCenter().JustifyFull().JustifyLeft().JustifyRight().CreateLink().Unlink().TableEditing().FontColor().BackColor().Pdf().ViewHtml()))
                                            </div>
                                        </section>                                       
                                    </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <div class="footer">
                    <button type="button" class="btn btn-primary general-btn" onclick="SaveBus();">@GeneralResources.save</button>
                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/Bus")
}


