@model  SyndicateIT.Model.ViewModel.SetupManagement.Corporate.CorporateContentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string PublicResources = "~/Views/SetupManagement/Corporate/PublicResource";
}
@Scripts.Render("~/Scripts/Corporate")
@Scripts.Render("~/Scripts/translate")
@*@Html.Partial("~/Views/Shared/_NavigationPartial.cshtml", @Model.Navigation)*@
<div id="CorporateContent">
    @Html.Partial("~/Views/SetupManagement/Corporate/_CorporateContentPartial.cshtml", Model);
</div>
<script type="text/javascript">
    var CorporateSearchURL = '@Html.GetUrl("LoadSearchCorporate", "Corporate")';
    var CorporateDeleteURL = '@Html.GetUrl("CorporateDelete", "Corporate")';
    var loadCorporateURL = '@Html.GetUrl("LoadCorporate", "Corporate")';
    var loader = '@Utilities.GetAbsotuleUrl("~/Content/image/ajax-loader.gif")';
    var saveCorporateUrl = '@Html.GetUrl("AddUpdateCorporate", "Corporate")';
    var messageDelete = '@Html.Resource("MessageDelete", PublicResources)';
    var loadTranslationCorporateURL = '@Html.GetUrl("LoadTranslateCorporate", "Corporate")';

    $("#SchoolSettings", $("#nav")).addClass("active open");
    $("#SchoolSettings Ul", $("#nav")).show();

</script>
@section Scripts {
    @Scripts.Render("~/bundles/kendo/js")
}

