
@model List<SyndicateIT.Model.ViewModel.ProfileManagement.ProfileDetails.ApplicationStatusViewModel>
@{
    Layout = null;
    string PublicResources = "~/Views/ProfileManagement/Profiles/ProfileDetails/PublicResources";
}

<article class="col-sm-12 sortable-grid ui-sortable">
    <div class="alert alert-success alert-block">
        <h4 class="alert-heading">@Html.Resource("LblApplicationStatusHistory", PublicResources)</h4>
    </div>
    @for (int i = 0; i < Model.Count; i++)
    {

        <div class="jarviswidget  jarviswidget-sortable jarviswidget-color-redLight" id="wid-id-@i" data-widget-editbutton="false" role="widget" style="">
            <header role="heading">
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h3 class="widget-h3"> (Status By Committe)</h3>
                <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
            </header>

            <!-- widget div-->
            <div role="content">
                <div class="row">
                    <div class="widget-body">
                        @using (Html.BeginForm("DeleteHistory", "ProfileManagement", FormMethod.Post, new { @class = "", role = "form", id = "HistoryList-form" }))
                        { @Html.HiddenFor(m => m[i].ApplicationStatus_Id)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <fieldset>                               
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].User, Html.Resource("User", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].User</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].Date, Html.Resource("Date", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].Date</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].Role, Html.Resource("committee", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].Role</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].Status, Html.Resource("Status", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <span class="@Model[i].StatusClass">@Model[i].Status</span> 
                                    </div>
                                </div>
                                <div class="form-group  col-sm-12">
                                    @Html.LabelFor(m => m[i].ApplicationStatus_Description, Html.Resource("Description", PublicResources), new { @class = "col-md-2 control-label" })
                                    <div class="col-md-8">
                                        <b class="pull-left"> @Model[i].ApplicationStatus_Description</b>
                                    </div>
                                </div>
                                @*<div class="form-group  col-sm-6">
                                    <div class="col-md-6">
                                        <b class="pull-left"> <button onclick="DeleteHistory(@i);" class="btn btn-sm btn-danger disabled pull-left" type="button" style="cursor:pointer;"> Delete</button></b>
                                    </div>
                                </div>*@
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget -->

    }
</article>

