
@model List<SyndicateIT.Model.ViewModel.ProfileManagement.ProfileDetails.ExperienceViewModel>
@{
    Layout = null;
    string PublicResources = "~/Views/ProfileManagement/Profiles/ProfileDetails/PublicResources";
}

<article class="col-sm-12 sortable-grid ui-sortable">
    <div class="alert alert-success alert-block">
        <h4 class="alert-heading">@Html.Resource("LblListExperience", PublicResources)</h4>
    </div>
    @for (int i = 0; i < Model.Count; i++)
    {

        <div class="jarviswidget jarviswidget-color-orange jarviswidget-sortable" id="wid-id-@i" data-widget-editbutton="false" role="widget" style="">
            <header role="heading">
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h3 class="widget-h3"> @Model[i].JobTitle</h3>
                <span class="jarviswidget-loader" style="display: none;"><i class="fa fa-refresh fa-spin"></i></span>
            </header>

            <!-- widget div-->
            <div role="content">
                <div class="row">
                    <div class="widget-body">


                        @using (Html.BeginForm("DeleteExperience", "ProfileManagement", FormMethod.Post, new { @class = "", role = "form", id = "ExperienceList-form" }))
                        {
                            @Html.Hidden("Experience_ID", Model[i].Experience_ID)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <fieldset>

                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].JobTitle, Html.Resource("JobTitle", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].JobTitle</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].Department, Html.Resource("Department", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].Department</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].Company, Html.Resource("Company", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].Company</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].Location, Html.Resource("Location", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].Location</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].FromDate, Html.Resource("FromDate", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].FromDate</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m[i].ToDate, Html.Resource("ToDate", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        <b class="pull-left"> @Model[i].ToDate</b>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-12">
                                    @Html.LabelFor(m => m[i].Description, Html.Resource("Description", PublicResources), new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        <b class="pull-left ">@Model[i].Description</b>
                                    </div>
                                </div>     
                                <div class="form-group  col-sm-6">
                                    <div class="col-md-6">
                                        <b class="pull-left"> <button onclick="DeleteExperience(@i);" class="btn btn-sm btn-danger disabled pull-left" type="button">  @Html.Resource("LblDelete", PublicResources)</button></b>
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
            <!-- end widget content -->
        </div>
        <!-- end widget -->

    }
</article>

