
@model SyndicateIT.Model.ViewModel.ProfileManagement.ProfileDetails.SystemPrivilegesViewModel
@{
    Layout = null;
    string PublicResources = "~/Views/ProfileManagement/Profiles/ProfileDetails/_SystemPrivilegesPartial.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@Html.Partial("~/Views/Shared/_AlertPartial.cshtml", Model.Alert)
<article class="col-sm-12 sortable-grid ui-sortable">
@using (Html.BeginForm("SaveSystemPrivileges", "ProfileManagement", FormMethod.Post, new { @class = "", role = "form", id = "SystemPrivileges-form" }))
{
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.MobileNumber)
    @Html.HiddenFor(model => model.Email)

    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidgetTransparent" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
        <header role="heading">
            <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
            <h2>System Privileges</h2>
            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
        <!-- widget div-->
        <div role="content">
            <div class="row">
                <div class="widget-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <fieldset>        
                        <div class="form-group  col-sm-12">
                            @Html.LabelFor(m => m.Enable, Html.Resource("Enable", PublicResources), new { @class = "col-md-2 control-label" })
                            <div class="col-md-6">
                                @Html.Kendo().CheckBoxFor(model => model.Enable)
                            </div>
                        </div>               
                        <div class="form-group  col-sm-6">
                            @Html.LabelFor(m => m.FirstName, Html.Resource("FirstName", PublicResources), new { @class = "col-md-4 control-label" })                    
                            <div class="col-md-6">
                                <span>@Model.FirstName</span>         
                            </div>
                        </div>
                        <div class="form-group  col-sm-6">
                            @Html.LabelFor(m => m.LastName, Html.Resource("LastName", PublicResources), new { @class = "col-md-4 control-label" })                          
                            <div class="col-md-6">
                               <span>@Model.LastName</span> 
                             </div>
                        </div>
                        <div class="form-group  col-sm-6">
                            @Html.LabelFor(m => m.Email, Html.Resource("Email", PublicResources), new { @class = "col-md-4 control-label" })                           
                            <div class="col-md-6">
                                <span>@Model.Email</span> 
                             </div>
                        </div>
                        <div class="form-group  col-sm-6">
                            @Html.LabelFor(m => m.MobileNumber, Html.Resource("MobileNumber", PublicResources), new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                <span>@Model.MobileNumber</span>     
                            </div>
                        </div>
                        <div class="form-group  col-sm-6">
                            @Html.LabelFor(m => m.Username, Html.Resource("Username", PublicResources), new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                <span>@Model.Username</span>    
                            </div>
                        </div>      
                        <div class="form-group  col-sm-6">
                            @Html.LabelFor(m => m.RoleName, Html.Resource("RoleName", PublicResources), new { @class = "col-md-4 control-label" })
                            <div class="col-md-6">
                                <span>@Model.RoleName</span>
                            </div>
                        </div>                      
                      </fieldset>
                    <fieldset>
                        <div class="form-group  col-sm-12">
                            <div class="alert alert-info fade in ">
                                <i class="fa-fw fa fa-info"></i>
                                <strong>Info!</strong> can you change password directly or through reset Password by email.
                            </div>
                        </div>                         
                   </fieldset>
                    @*@if (Model.HasLoginUser == false)
                    {*@
                        <fieldset>

                            <div class="form-group  col-sm-12">
                                @Html.LabelFor(m => m.HasEmail, Html.Resource("HasResetPassword", PublicResources), new { @class = "col-md-2 control-label" })
                                <div class="col-md-6">
                                    @Html.Kendo().CheckBoxFor(model => model.HasEmail)
                                </div>
                            </div>
                            <div id="DivPassword">
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m.Password, Html.Resource("Password", PublicResources), new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="Password" data-valmsg-for="Password" id="Password_validationMessage" style="display:none;" role="alert"><span class="k-icon k-warning"> </span> The Password field is required.</span>

                                    </div>
                                </div>
                                <div class="form-group  col-sm-6">
                                    @Html.LabelFor(m => m.ConfirmPassword, Html.Resource("ConfirmPassword", PublicResources),new { @class = "col-md-4 control-label" })
                                    <div class="col-md-6">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="ConfirmPassword" data-valmsg-for="ConfirmPassword" id="ConfirmPassword_validationMessage" style="display:none;" role="alert"><span class="k-icon k-warning"> </span> The ConfirmPassword field is required.</span>
                                        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error" data-for="ConfirmPassword" data-valmsg-for="ConfirmPassword" id="ConfirmPasswordValid_validationMessage" style="display:none;" role="alert"><span class="k-icon k-warning"> </span>The password and confirmation password do not match.</span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    @*}*@                   
                </div>

            </div>
            <!-- end widget content -->
        </div>
    </div>
    <!-- end widget -->
    <div class="footer">
        <button type="button" class="btn btn-primary general-btn" onclick="SaveSystemPrivileges();">Save</button>
    </div>
}

        
</article>

<script type="text/javascript">
    $(document).ready(function () {
        HideSystemPrivilegesValidation();
        $.validator.setDefaults({
            ignore: ""
        });
        $("#HasEmail").click(function () {
            if ($("#HasEmail").prop("checked") == true)
            {
                $("#DivPassword").hide();
            }
            else {
                $("#DivPassword").show();
            }
        });
       
    });   
</script>
