
@model SyndicateIT.Model.ViewModel.SetupManagement.CompanyType.CompanyTypeViewModel
@using SyndicateIT.Views.App_GlobalResources
@{
    Layout = null;
    string PublicResources = "~/Views/SetupManagement/CompanyType/PublicResource";
}
@Html.Partial("~/Views/Shared/_NavigationPartial.cshtml", @Model.Navigation)
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="@Model.ClassTitle"></i> @Model.Title<span></span>
            </h1>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_AlertPartial.cshtml", Model.Alert)
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidgetTransparent" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading"></header>
                    <!-- widget div-->
                    <div role="content">
                        <div class="row">
                            <div class="widget-body">
                                @using (Html.BeginForm("AddUpdateCompanyType", "CompanyType", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "CompanyType-form" }))
                                {
                                    @Html.HiddenFor(m => m.Company_Type_ID)
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <fieldset>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Company_Type_Title, Html.Resource("Company_Type_Title", PublicResources), new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Company_Type_Title).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Company_Type_Title")
                                                <div class="text-danger field-validation-error" id="Company_Type_Title_ValidationMsg" style="display:none;">
                                                    <span for="SearchCompanyType" class=""> @Html.Resource("Company_Type_Title_Required", PublicResources)</span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group  col-sm-12">
                                            @Html.LabelFor(m => m.Company_Type_Description, Html.Resource("Company_Type_Description", PublicResources), new { @class = "col-md-4 text-left control-label" })
                                            <div class="col-md-12">

                                                @(Html.Kendo().EditorFor(m => m.Company_Type_Description).Tools(tools => tools.Clear().Bold().Italic().Underline().Strikethrough().JustifyCenter().JustifyFull().JustifyLeft().JustifyRight().CreateLink().Unlink().TableEditing().FontColor().BackColor().Pdf().ViewHtml()))

                                            </div>

                                        </div>

                                        <div class="form-group  col-sm-6">
                                            @Html.Label(GeneralResources.IS_ACTIVE, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                <label class="checkbox">
                                                    @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @checked = "checked" })
                                                    <i></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <button type="button" class="btn btn-primary general-btn" onclick="SaveCompanyType();">@GeneralResources.save</button>
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/CompanyType")
}


