
@model SyndicateIT.Model.ViewModel.SetupManagement.Classes.ClassesContentViewModel
@using SyndicateIT.Views.App_GlobalResources
@{
    Layout = null;
    string PublicResources = "~/Views/SetupManagement/Classes/PublicResource";
}
@using (Html.BeginForm("SearchClasses", "Classes", FormMethod.Post, new { @class = "smart-form", role = "form" }))
{
    <fieldset>
        <section class="col col-3">
            @Html.LabelFor(m => m.Cycle_ID, Html.Resource("Cycle_id", PublicResources), new { @class = "col-md-10 control-label" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownListFor(m => m.Cycle_ID)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel(@Html.Resource("EnterCycle", PublicResources))
                                                .HtmlAttributes(new { @class = "ui-select form-control-md10" })
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetCycleTypesList", "UserManagement");
                                                    });
                                                }))
            </div>
        </section>
        <section class="col col-3">
            @Html.LabelFor(m => m.Class_Title, Html.Resource("Class_Title", PublicResources), new { @class = " label" })
            @(Html.Kendo().TextBoxFor(m => m.Class_Title))
            <div class="text-danger field-validation-error" id="ErrorSearchClasses" style="display:none;">
                <span for="SearchClasses" class=""> Classes Name is not valid</span>
            </div>
        </section>
        <section class="col col-3">
            @Html.LabelFor(m => m.language, GeneralResources.LANGUAGE_ID, new { @class = " label" })
            <div class="col-md-7">
                @(Html.Kendo().DropDownListFor(m => m.language)
                          .DataTextField("Text")
                          .DataValueField("Value")
                          .Value(Model.language.ToString())
                          .Filter("startswith")
                          .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("GetLanguageList", "Classes");
                              });
                          }))
                <div class="text-danger field-validation-error" id="ErrorSearchLanguage" style="display:none;">
                    <span for="SearchLanguage" class=""> Language is not valid</span>
                </div>
            </div>
        </section>
        <section class="col col-3">
            <label class="label">&nbsp;</label>
            @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @checked = "checked" })
            <i></i>@GeneralResources.IS_ACTIVE
        </section>
        <section class="col col-2">
            <label class="label">&nbsp;</label>
            <button type="button" class="btn btn-serach " onclick="SearchClasses(true)">Search</button>
        </section>
    </fieldset>
     
       
 }
    @section Scripts {
        @Scripts.Render("~/Scripts/Classes")
    }
