@model SyndicateIT.Model.ViewModel.UserManagement.EditUserViewModel
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string resouceFilePath = "~/Views/UserManagement/Edit.cshtml";
}


@Html.Partial("~/Views/Shared/_NavigationPartial.cshtml", @Model.Navigation)
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">
                <i class="@Model.ClassTitle"></i> @Model.Title<span></span>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            @if (SessionContent.Container.Login.UserRole == UserRole.SuperAdministrator.ToString() && Model.IsShowResetPassword == true)
            {
                           
                    @Html.ActionLink(@Html.Resource("ResetPassword", resouceFilePath), "ResetPassword", "UserManagement", new { id = Model.ID }, new { @class = "btn btn-danger  btn-lg pull-right header-btn hidden-mobile" })
                
            }
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_AlertPartial.cshtml", Model.Alert)
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidgetTransparent" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading">
                        @*<span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>Edit User</h2>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>*@
                    </header>
                    <!-- widget div-->
                    <div role="content">
                        <div class="row">
                            <div class="widget-body">
                                @using (Html.BeginForm(@Html.Resource("Edit", resouceFilePath), "UserManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    @Html.HiddenFor(m => m.HiddenUsername);
                                    @Html.HiddenFor(m => m.HiddenCorporateUserId);
                                    <fieldset>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.FirstName).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("FirstName")
                                                @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.LastName).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("LastName")
                                                @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.MobileNumber, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.MobileNumber).HtmlAttributes(new { @class = "form-control form-control-md10 numericOnly",  @maxlength = SessionContent.Current.Corporate.maxLengthMobile }).Name("MobileNumber")
                                                @Html.ValidationMessageFor(model => model.MobileNumber, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.CorporateUserId, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.CorporateUserId).HtmlAttributes(new { @class = "form-control form-control-md10", @disabled = "true" }).Name("CorporateUserId")
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Username, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Username).HtmlAttributes(new { @class = "form-control form-control-md10", @disabled = "true" }).Name("Username")
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.Kendo().TextBoxFor(model => model.Email).HtmlAttributes(new { @class = "form-control form-control-md10", @maxlength = 50 }).Name("Email")
                                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.RoleID, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @(Html.Kendo().DropDownListFor(m => m.RoleID)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("Please Select")
                                                .HtmlAttributes(new { @class = "ui-select form-control-md10" })
                                                .Value(Model.RoleID)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetRoleList", "UserManagement");
                                                    });
                                                })
                                                )
                                                @Html.ValidationMessageFor(model => model.RoleID, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-6">
                                            @Html.LabelFor(m => m.BranchID, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @(Html.Kendo().DropDownListFor(m => m.BranchID)
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel("Please Select")
                                                .HtmlAttributes(new { @class = "ui-select form-control-md10" })
                                                .Value(Model.BranchID)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetBranchList", "UserManagement");
                                                    });
                                                })
                                                )
                                                @Html.ValidationMessageFor(model => model.BranchID, null, new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="footer">
                                            <button type="submit" class="btn btn-primary general-btn">@Html.Resource("Save", resouceFilePath)</button>
                                        </div>
                                    </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget -->

            </article>

        </div>
    </section>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo/js")
    <script type="text/javascript">
        $(document).ready(function () {

            $.validator.setDefaults({
                ignore: ""
            });
            $("AdministrationUL").children().find('li').removeClass("active");
            $("#Index").addClass("active");
            $("#Administration").addClass("open");
            $("#AdministrationUL").show();
            $("#Administration").children().find('em').removeClass("fa fa-plus-square-o");
            $("#Administration").children().find('em').addClass("fa fa-minus-square-o");
            $(".numericOnly").bind('keypress', function (e) {
                if (e.keyCode == '9' || e.keyCode == '16') {
                    return;
                }
                var code;
                if (e.keyCode) code = e.keyCode;
                else if (e.which) code = e.which;
                if (e.which == 46)
                    return false;
                if (code == 8 || code == 46)
                    return true;
                if (code < 48 || code > 57)
                    return false;
            });

            //Disable paste
            $(".numericOnly").bind("paste", function (e) {
                e.preventDefault();
            });

            $(".numericOnly").bind('mouseenter', function (e) {
                var val = $(this).val();
                if (val != '0') {
                    val = val.replace(/[^0-9]+/g, "")
                    $(this).val(val);
                }
            });

        });
    </script>
}
