@model SyndicateIT.Model.ViewModel.UserManagement.ResetPasswordConfirmation

@{
    ViewBag.Title = "Reset password confirmation";
}
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string resouceFilePath = "~/Views/UserManagement/ResetPasswordConfirmation.cshtml";
}
@Html.Partial("~/Views/Shared/_NavigationPartial.cshtml", @Model.Navigation)
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="@Model.ClassTitle"></i> @Model.Title<span></span>
            </h1>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_AlertPartial.cshtml", Model.Alert)
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $("AdministrationUL").children().find('li').removeClass("active");
        $("#Index").addClass("active");
        $("#Administration").addClass("open");
        $("#AdministrationUL").show();
        $("#Administration").children().find('em').removeClass("fa fa-plus-square-o");
        $("#Administration").children().find('em').addClass("fa fa-minus-square-o");

    });
</script>






