@model SyndicateIT.Model.ViewModel.Exam.ExamMaterialStudentsViewModel
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@Html.Partial("~/Views/Shared/_AlertPartial.cshtml", Model.Alert)
@{
    string PublicResources = "~/Views/Exams/LoadExamsMaterials/PublicResource";
}
<div class="row">
    <!-- NEW WIDGET START -->
    <article class="col-sm-12 sortable-grid ui-sortable">
        <!-- well -->
        <div class="well" style="background-color: #fff;border: 1px solid #fff!important;">
            @using (Html.BeginForm("SaveExamStudentMaterilas", "Limit", FormMethod.Post, new { @class = "", role = "form", id = "ExamStudentMaterilas-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset class="tree" id="TreeExam">
                    <ul role="tree">
                        <li class="parent_li paymentType-content" role="treeitem">
                            <span title="Collapse  this branch"><i class="fa fa-lg fa-minus-circle"></i> @Model.MaterialName</span>
                            <ul role="group">
                                @for (int i = 0; i < Model.ExamStudents.Count; i++)
                                {
                                    var pExamStudents = @Model.ExamStudents[i];
                                    var pStudentName = @Model.ExamStudents[i].StudentName.ToString();
                                    var pStudentId = @Model.ExamStudents[i].StudentId.ToString().Replace(" ", "");
                                    var pStudentTotalValue = @Model.ExamStudents[i].TotalValue;
                                    var pStudentTotalId = "StudentTotal" + "_" + i;
                                    var pStudentlTotalTermMonthId = "StudentTermMonth" + "_" + i;
                                    var pStudentCoefficientId = "StudentCoefficient" + "_" + i;

                                    <li class="parent_li student-content" role="treeitem" style="display: list-item;">
                                        <span class="label label-success" title="Collapse this branch" style="font-size:12px;"><i class="fa fa-lg fa-minus-circle"></i> @pStudentName</span>
                                        <ul role="group">
                                            <input type="hidden" class="txt-Student" id="@pStudentTotalId" name="@pStudentTotalId" value="@pStudentTotalValue" studentname="@pStudentName" studentid="@pStudentId" />
                                            @if (@Model.ExamStudents[i] != null)
                                            {
                                                var pStudentCoefficientTotalValue = @Model.ExamStudents[i].ExamStudentsTermMonths.Count > 0 ? @Model.ExamStudents[i].ExamStudentsTermMonths[0].Coefficient : 0;
                                                <li class="smart-li-form" style="padding:10px">
                                                    @if (SessionContent.Container.Exams.CurrentCycleD != (int)Cycle.PreeSchool)
                                                    {
                                                        <span class="label label-warning" title="Collapse this branch" style="width: 20%;padding: 1%;font-size:12px;"><b>@Html.Resource("Total", PublicResources) </b>&nbsp;&nbsp;( @pStudentTotalValue )</span>
                                                        <span class="label label-warning" title="Collapse this branch" style="width: 20%;padding: 1%;font-size:12px;"><b>@Html.Resource("Coefficient", PublicResources) </b>&nbsp;&nbsp;( @pStudentCoefficientTotalValue )</span>
                                                    }
                                                        <input type="hidden" class="txt-Material-TermMonth" id="@pStudentlTotalTermMonthId" name="@pStudentlTotalTermMonthId" value="@pStudentTotalValue" termMonthId="0" />
                                                        <input type="hidden" class="txt-Coefficient" id="@pStudentCoefficientId" name="@pStudentCoefficientId" value="@pStudentCoefficientTotalValue">
                                                  
                                                </li>
                                                for (int k = 0; k < Model.ExamStudents[i].ExamStudentsTermMonths.Count; k++)
                                                {
                                                    var pTermMonthId = "TermMonth" + "_" + i + "_" + k;
                                                    var pTermMaterialId = "Material" + "_" + i + "_" + k;
                                                    var pTermCoefficientId = "Coefficient" + "_" + i + "_" + k;
                                                    var pEnableValueCourse = "disabled";
                                                    if (Model.ExamStudents[i].ExamStudentsTermMonths[k].ExamMaterialSkils.Count == 0)
                                                    {
                                                        pEnableValueCourse = "";
                                                    }

                                                    <li class="smart-li-form" style="padding:10px">
                                                        @if (SessionContent.Container.Exams.CurrentCycleD != (int)Cycle.PreeSchool)
                                                        {
                                                            <label class="" style="padding-right: 15px;padding-left: 15px;">Value</label>
                                                            <label class="input">
                                                                <input class="k-textbox k-textbox-Exam txt-Material-TermMonth" id="@pTermMaterialId" name="@pTermMaterialId" onkeyup="this.value = minmax(this.value, @pStudentCoefficientTotalValue)" value="@Model.ExamStudents[i].ExamStudentsTermMonths[k].Value" termMonthName="@Model.ExamStudents[i].ExamStudentsTermMonths[k].TermMonthname" termMonthId="@Model.ExamStudents[i].ExamStudentsTermMonths[k].TermMonthId" min="0" max="100" @pEnableValueCourse />
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <input type ="hidden" class="k-textbox k-textbox-Exam txt-Material-TermMonth" id="@pTermMaterialId" name="@pTermMaterialId" onkeyup="this.value = minmax(this.value, @pStudentCoefficientTotalValue)" value="@Model.ExamStudents[i].ExamStudentsTermMonths[k].Value" termMonthName="@Model.ExamStudents[i].ExamStudentsTermMonths[k].TermMonthname" termMonthId="@Model.ExamStudents[i].ExamStudentsTermMonths[k].TermMonthId" min="0" max="100" @pEnableValueCourse />

                                                        }
                                                        <label class="" style="padding-right: 15px;padding-left: 15px;">Term Month</label>
                                                        <label class="input">
                                                            <input class="k-textbox k-textbox-Exam txt-Coefficient" id="@pTermMonthId" name="@pTermMonthId" value="@Model.ExamStudents[i].ExamStudentsTermMonths[k].TermMonthname" min="0" disabled>
                                                        </label>
                                                        @for (int t = 0; t < Model.ExamStudents[i].ExamStudentsTermMonths[k].ExamMaterialSkils.Count; t++)
                                                        {
                                                            var pExamStudentSkils = Model.ExamStudents[i].ExamStudentsTermMonths[k].ExamMaterialSkils[t];
                                                            var pNameSkill = Model.ExamStudents[i].ExamStudentsTermMonths[k].ExamMaterialSkils[t].SkilsName.ToString().Replace(" ", "");
                                                            var pSkilsId = Model.ExamStudents[i].ExamStudentsTermMonths[k].ExamMaterialSkils[t].SkilsId.ToString().Replace(" ", "");
                                                            var pNameSkillCoefficient = Model.ExamStudents[i].ExamStudentsTermMonths[k].ExamMaterialSkils[t].Percentage.ToString().Replace(" ", "");

                                                            var pTermMaterialSkillsId = "Skills" + "_" + i + "_" + k + "_" + t;
                                                            var pTermCoefficientSkillsId = "Coefficient" + "_" + i + "_" + "_" + t;

                                                            <div class="smart-form">
                                                                @if (SessionContent.Container.Exams.CurrentCycleD != (int)Cycle.PreeSchool)
                                                                {
                                                                    <fieldset>
                                                                        <section class="col col-3">
                                                                            <label class="label">&nbsp;</label>
                                                                            <span class="bg-color-pinkDark  label label-primary txt-center txt-color-white">
                                                                                @pExamStudentSkils.SkilsName
                                                                            </span>
                                                                        </section>
                                                                        <section class="col col-2">
                                                                            <label class="label">Value</label>
                                                                            <label class="input">
                                                                                <input class="k-textbox k-textbox-Exam txt-Skill" onkeyup="this.value = minmax(this.value, @pExamStudentSkils.Percentage)" id="@pTermMaterialSkillsId" name="@pTermMaterialSkillsId" skillid="@pSkilsId" value="@pExamStudentSkils.Value" min="0">
                                                                            </label>
                                                                        </section>
                                                                        <section class="col col-3">
                                                                            <label class="label">Coefficient</label>
                                                                            <label class="input">
                                                                                <input class="k-textbox k-textbox-Exam txt-Percentage" id="@pTermCoefficientSkillsId" name="@pTermCoefficientSkillsId" value="@pExamStudentSkils.Percentage.ToString()" min="0" disabled>
                                                                            </label>
                                                                        </section>
                                                                    </fieldset>
                                                                }
                                                                else
                                                                {
                                                                    var AchivedChecked = @pExamStudentSkils.Value == 1 ? "checked" : "";
                                                                    var NotAchivedChecked = @pExamStudentSkils.Value == 2 ? "checked" : "";
                                                                    var InAchivedChecked = @pExamStudentSkils.Value == 3 ? "checked" : "";
                                                                    <fieldset>
                                                                        <input type="hidden" class="txt-Percentage" id="@pTermCoefficientSkillsId" name="@pTermCoefficientSkillsId" value="0" min="0">
                                                                        <section class="col col-6">
                                                                            <label class="label">&nbsp;</label>
                                                                            <span class="bg-color-pinkDark  label label-primary txt-center txt-color-white">
                                                                                @pExamStudentSkils.SkilsName
                                                                            </span>
                                                                        </section>
                                                                        <section class="col col-6">
                                                                            <label class="label">Value</label>
                                                                            <label class="input">
                                                                                <label class="radio" style="float:left;padding-right:10px;font-size: 11px;">
                                                                                    <input type="radio" class="txt-Skill" name="@pTermMaterialSkillsId" skillid="@pSkilsId" value="1" @AchivedChecked>
                                                                                    <i></i>@Model.LangAcquired
                                                                                </label>
                                                                                <label class="radio" style="float:left;padding-right:10px;font-size: 11px;">
                                                                                    <input type="radio" class="txt-Skill" name="@pTermMaterialSkillsId" skillid="@pSkilsId" value="2" @NotAchivedChecked>
                                                                                    <i></i>@Model.LangNotAcquired
                                                                                </label>
                                                                                <label class="radio" style="float:left;font-size: 11px;">
                                                                                    <input type="radio" class="txt-Skill" name="@pTermMaterialSkillsId" skillid="@pSkilsId" value="3" @InAchivedChecked>
                                                                                    <i></i>@Model.LangInProgress
                                                                                </label>
                                                                            </label>
                                                                        </section>
                                                                    </fieldset>
                                                                }
                                                            </div>
                                                        }
                                                    </li>

                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </fieldset>
            }

        </div>
    </article>
</div>
<script type="text/javascript">

    function minmax(value, max) {
        if (parseInt(value) > max)
            return max;
        else return value;
    }

    jQuery.fn.ForceNumericOnly =
        function () {
            return this.each(function () {
                $(this).keydown(function (e) {
                    var key = e.charCode || e.keyCode || 0;
                    // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                    // home, end, period, and numpad decimal
                    return (
                        key == 8 ||
                        key == 9 ||
                        key == 13 ||
                        key == 46 ||
                        key == 110 ||
                        key == 190 ||
                        (key >= 35 && key <= 40) ||
                        (key >= 48 && key <= 57) ||
                        (key >= 96 && key <= 105));
                });
            });
        };


    // var saveExamStudentMaterialsUrl = '@Html.GetUrl("AddUpdateExamStudentsMaterial", "ExamManagement")';
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });

    });  
    $(".k-textbox-Exam").ForceNumericOnly();
    $('.tree > ul').attr('role', 'tree').find('ul').attr('role', 'group');
    $('.tree').find('li:has(ul)').addClass('parent_li').attr('role', 'treeitem').find(' > span').attr('title', 'Collapse this branch').on('click', function (e) {
        var children = $(this).parent('li.parent_li').find(' > ul > li');
        if (children.is(':visible')) {
            children.hide('fast');
            $(this).attr('title', 'Expand this branch').find(' > i').removeClass().addClass('fa fa-lg fa-plus-circle');
        } else {
            children.show('fast');
            $(this).attr('title', 'Collapse this branch').find(' > i').removeClass().addClass('fa fa-lg fa-minus-circle');
        }
        e.stopPropagation();
    });
</script>
