@model SyndicateIT.Model.ViewModel.Exam.CheckingTagsSearchViewModel
@{
    Layout = null;
    string PublicResources = "~/Views/Exams/CheckingTags/_CheckingTagsSearchPartial.cshtml";
}
@using (Html.BeginForm("SearchCheckingTags", "ServiceManagement", FormMethod.Post, new { @class = "smart-form", role = "form" }))
{ 
    <section class="col col-3">
        @Html.LabelFor(m => m.Cycle_ID, Html.Resource("lblSearchCycle", PublicResources), new { @class = "label" })
        @(Html.Kendo().DropDownListFor(m => m.Cycle_ID)
                                                .Name("Cycle_ID")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel(@Html.Resource("EnterSearchCycle", PublicResources))
                                                .HtmlAttributes(new { @class = "form-control input-sm" })
                                                //.Value(Model.StageID)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetCycleTypesList", "ServiceManagement");
                                                    });
                                                })
        )
        <div class="text-danger field-validation-error" id="ErrorCycle_ID" style="display:none;">
            <span for="SearchCycle" class=""> @Html.Resource("RequiredSearchCycle", PublicResources)</span>
        </div>
    </section>
    <section class="col col-3">
        @Html.LabelFor(m => m.Class_ID, Html.Resource("lblSearchClass", PublicResources), new { @class = "label" })
        @(Html.Kendo().DropDownListFor(m => m.Class_ID)
                                                 .Name("Class_ID")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .OptionLabel(@Html.Resource("EnterSearchClass", PublicResources))
                                                  .HtmlAttributes(new { @class = "form-control input-sm" })
                                                .Value(Model.Class_ID.ToString())
                                                .Filter("startswith")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetClass", "ServiceManagement")
                                                        .Data("FilterClass");
                                                    }).ServerFiltering(true);
                                                })
                                                .Enable(true)
                                                .AutoBind(false)
                                                .CascadeFrom("Cycle_ID"))
        <div class="text-danger field-validation-error" id="ErrorClass_ID" style="display:none;">
            <span for="SearchClass" class=""> @Html.Resource("RequiredSearchClass", PublicResources)</span>
        </div>
    </section>
    <section class="col col-3">
        @Html.LabelFor(m => m.Division_ID, Html.Resource("lblSearchDivision", PublicResources), new { @class = "label" })
         @(Html.Kendo().DropDownListFor(m => m.Division_ID)
                                                .Name("Division_ID")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                 .OptionLabel(@Html.Resource("EnterDivision_Id", PublicResources))
                                                  .HtmlAttributes(new { @class = "form-control input-sm" })
                                                .Value(Model.Division_ID.ToString())
                                                .Filter("startswith")
                                                //.SelectedIndex(Model.Profile_GenderId)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetDivision", "ServiceManagement")
                                                        .Data("FilterDivision");
                                                    }).ServerFiltering(true);
                                                })
                                                .Enable(true)
                                                .AutoBind(false)
                                                .CascadeFrom("Class_ID"))
        <div class="text-danger field-validation-error" id="ErrorDivision_ID" style="display:none;">
            <span for="SearchDivision" class=""> @Html.Resource("RequiredSearchDivision", PublicResources)</span>
        </div>
    </section>   
   
    <section class="col col-2 ">
        <label class="label">&nbsp;</label>
        <button type="button" class="btn btn-serach " onclick="SearchCheckingTags()">@Html.Resource("Search", PublicResources)</button>
    </section>
}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
