@model SyndicateIT.Model.ViewModel.Exam.CheckingTagsContentViewModel
@{
    string PublicResources = "~/Views/Exams/CheckingTags/ExamsCheckingTags.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<br /><br />
<div class="col-sm-12">
    <div class="alert alert-info fade in">
        <i class="fa-fw fa fa-info"></i>
        <strong>@Html.Resource("CurrentExamName", PublicResources)!</strong> @SessionContent.Container.Exams.CurrentExamsName
    </div>
</div>

<h3 class=""><strong>@Html.Resource("Stage", PublicResources) 4 </strong> - @Html.Resource("CheckingTags", PublicResources)</h3>
<br />
<div>
    <div class="alert alert-warning">      
        <ul>
            <li style="margin-bottom: 10px;">@Html.Resource("ExamStudentNote1", PublicResources)</li>           
        </ul>  
    </div>
</div>
<section id="ExamsStudents-content" class="">
    @Html.Partial("~/Views/Exams/CheckingTags/_ExamsCheckingTagsFilter.cshtml", Model)
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: ""
        });       
    });
</script>
