@model SyndicateIT.Model.ViewModel.Report.ReportContentViewModel

@Html.Partial("~/Views/Shared/_NavigationPartial.cshtml", @Model.Navigation)
<script src="~/Scripts/Views/Report/report.js"></script>
<div id="content">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <h1 class="page-title txt-color-blueDark">
            <i class="@Model.ClassTitle"></i> @Model.Title<span></span>
        </h1>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="View-Inquiry-Details" style="display:none;">
        <!-- Button trigger modal -->
        <a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i><span onclick="LoadInquiryContentDetails();">View Inquiry Details</span> </a>
    </div>
    <section id="enrollment-content" class="">
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidgetTransparent" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>Report Search</h2>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <!-- widget div-->
                    <div role="content">
                        <div class="row">
                            @Html.Partial("~/Views/Report/_ReportSearchPartial.cshtml", @Model.ReportSearch)
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget -->
            </article>
            <!-- WIDGET END -->
            <!-- NEW WIDGET START -->
           
          

            <!-- WIDGET END -->
        </div>
    </section>
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-0" data-widget-editbutton="false" role="widget">
                    <header role="heading">
                        <div class="jarviswidget-ctrls" role="menu">
                            <a href="javascript:void(0);" class="button-icon jarviswidget-toggle-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Collapse">
                                <i class="fa fa-minus "></i>
                            </a>
                            <a href="javascript:void(0);" class="button-icon jarviswidget-fullscreen-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Fullscreen">
                                <i class="fa fa-expand "></i>
                            </a>
                        </div>

                        <span class="widget-icon"> <i class=""></i> </span>
                        <h3 class="widget-h3"> Transactions List</h3>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <!-- widget div-->
                    <div role="content">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body" id="Report-Details">

                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ReportUL").children().find('li').removeClass("active");
        $("#ReportRegistration").addClass("active");
        $("#Report").addClass("open");
        $("#ReportUL").show();
        $("#Report").children().find('em').removeClass("fa fa-plus-square-o");
        $("#Report").children().find('em').addClass("fa fa-minus-square-o");        
    });

</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


