@model SyndicateIT.Model.ViewModel.SetupManagement.Classes.ClassesViewModel
@using SyndicateIT.Views.App_GlobalResources
@{
    Layout = null;
    string PublicResources = "~/Views/PredefinedSetup/Details/_SettingsContentPartial.cshtml";
}

@using (Html.BeginForm("AddUpdateClasses", "Classes", FormMethod.Post, new { @class = "smart-form", role = "form", id = "Classes-form" }))
{
    @Html.HiddenFor(m => m.Class_ID)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <section class="form-group  col-sm-6">
            @Html.Label(GeneralResources.IS_ACTIVE, new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @checked = "checked" })
                    <i></i>
                </label>
            </div>
        </section>
        <section class="form-group  col-sm-6">
            @Html.LabelFor(m => m.Class_Title, Html.Resource("Class_Title", PublicResources), new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @Html.Kendo().TextBoxFor(model => model.Class_Title).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Class_Title")
                <div class="text-danger field-validation-error" id="Class_Title_ValidationMsg" style="display:none;">
                    <span for="SearchClasses" class=""> @Html.Resource("Class_Title_Required", PublicResources)</span>
                </div>
            </div>
        </section>
        <section class="form-group  col-sm-6">
            @Html.LabelFor(m => m.Cycle_ID, Html.Resource("Cycle_ID", PublicResources), new { @class = "col-md-4  control-label" })
            <div class="col-md-6">
                @(Html.Kendo().DropDownListFor(m => m.Cycle_ID)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .OptionLabel("Select Cycle")
                                            .HtmlAttributes(new { @class = "ui-select form-control-md10" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetCycleTypesList", "Classes");
                                                });
                                            }))
                <div class="text-danger field-validation-error" id="Cycle_ID_ValidationMsg" style="display:none;">
                    <span for="Cycle_ID" class=""> @Html.Resource("Cycle_ID_Required", PublicResources)</span>
                </div>
            </div>
        </section>
        <section class="form-group  col-sm-6">
            @Html.LabelFor(m => m.Company_ID, Html.Resource("Company_ID", PublicResources), new { @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @(Html.Kendo().DropDownListFor(m => m.Company_ID)
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .OptionLabel("Select Company")
                                            .HtmlAttributes(new { @class = "ui-select form-control-md10" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetCompanyName", "Classes");
                                                });
                                            }))
                <div class="text-danger field-validation-error" id="Company_ID_ValidationMsg" style="display:none;">
                    <span for="Company_ID" class=""> @Html.Resource("Company_ID_Required", PublicResources)</span>
                </div>
            </div>
        </section>
        <section class="form-group  col-sm-6">
            @Html.LabelFor(m => m.Class_Row, Html.Resource("Class_Row", PublicResources), new { @type = "number", @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @(Html.Kendo().NumericTextBoxFor(m => m.Class_Row).Min(0).HtmlAttributes(new { @class = "form-control form-control-md10" }))
                <div class="text-danger field-validation-error" id="Class_Row_ValidationMsg" style="display:none;">
                    <span for="Class_Row" class=""> @Html.Resource("Class_Row_Required", PublicResources)</span>
                </div>
            </div>
        </section>
        <section class="form-group  col-sm-6">
            @Html.LabelFor(m => m.Class_Column, Html.Resource("Class_Column", PublicResources), new { @type = "number", @class = "col-md-4 control-label" })
            <div class="col-md-6">
                @(Html.Kendo().NumericTextBoxFor(m => m.Class_Column).Min(0).HtmlAttributes(new { @class = "form-control form-control-md10" }))
                <div class="text-danger field-validation-error" id="Class_Column_ValidationMsg" style="display:none;">
                    <span for="Class_Column" class=""> @Html.Resource("Class_Column_Required", PublicResources)</span>
                </div>
            </div>

        </section>
        <section class="form-group  col-sm-12">
            @Html.LabelFor(m => m.Class_Description, Html.Resource("Class_Description", PublicResources), new { @class = "col-md-2 text-left control-label" })
            <div class="col-md-9">
                @(Html.Kendo().EditorFor(m => m.Class_Description).Tools(tools => tools.Clear().Bold().Italic().Underline().Strikethrough().JustifyCenter().JustifyFull().JustifyLeft().JustifyRight().CreateLink().Unlink().TableEditing().FontColor().BackColor().Pdf().ViewHtml()))
            </div>
        </section>
    </fieldset>
}

<div class="footer">
    <button type="button" class="btn btn-primary general-btn" onclick="SaveClasses();" style="width: 150px;margin-bottom: 22px;">Save Classes</button>
</div>