@model SyndicateIT.Model.ViewModel.SetupManagement.SkillCoefficient.SkillCoefficientViewModel
@using SyndicateIT.Views.App_GlobalResources
@{
    Layout = null;
    string PublicResources = "~/Views/PredefinedSetup/Details/_SettingsContentPartial.cshtml";
}

@using (Html.BeginForm("AddUpdateSkillCoefficient", "SkillCoefficient", FormMethod.Post, new { @class = "smart-form", role = "form", id = "SkillCoefficient-form" }))
{
    
        @Html.HiddenFor(m => m.SkillCoefficient_ID)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <section class="form-group  col-sm-6">
                @Html.Label(GeneralResources.IS_ACTIVE, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @checked = "checked" })
                        <i></i>
                    </label>
                </div>
            </section>
            <section class="form-group  col-sm-6">
                @Html.LabelFor(m => m.SkillCoefficient_NAME, Html.Resource("SkillCoefficient_NAME", PublicResources), new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.Kendo().TextBoxFor(model => model.SkillCoefficient_NAME).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("SkillCoefficient_NAME")
                    <div class="text-danger field-validation-error" id="SkillCoefficient_NAME_ValidationMsg" style="display:none;">
                        <span for="SearchSkillCoefficient" class=""> @Html.Resource("SkillCoefficient_NAME_Required", PublicResources)</span>
                    </div>
                </div>
            </section>
        </fieldset>
        }

        <div class="footer">
            <button type="button" class="btn btn-primary general-btn" onclick="SaveSkillCoefficient();" style="width: 150px;margin-bottom: 22px;">Save SkillCoefficient</button>
        </div>
