@model SyndicateIT.Model.ViewModel.SetupManagement.Subjects.SubjectsViewModel
@using SyndicateIT.Views.App_GlobalResources
@{
    Layout = null;
    string PublicResources = "~/Views/PredefinedSetup/Details/_SettingsContentPartial.cshtml";
}

    <div class="widget-body">
    @using (Html.BeginForm("AddUpdateSubjects", "Subjects", FormMethod.Post, new { @class = "smart-form", role = "form", id = "Subject-form" }))
    {
        @Html.HiddenFor(m => m.Subject_ID)
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <section class="form-group  col-sm-6">
                @Html.Label(GeneralResources.IS_ACTIVE, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @checked = "checked" })
                        <i></i>
                    </label>
                </div>
            </section>
            <section class="form-group  col-sm-6">
                @Html.LabelFor(m => m.Subject_Name, Html.Resource("Subject_Name", PublicResources), new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    @Html.Kendo().TextBoxFor(model => model.Subject_Name).HtmlAttributes(new { @class = "form-control form-control-md10" }).Name("Subject_Name")
                    <div class="text-danger field-validation-error" id="Subject_Name_ValidationMsg" style="display:none;">
                        <span for="SearchSubjects" class=""> @Html.Resource("Subject_Name_Required", PublicResources)</span>
                    </div>
                </div>
            </section>
            <section class="form-group  col-sm-12">
                @Html.LabelFor(m => m.Subject_Description, Html.Resource("Subject_Description", PublicResources), new { @class = "col-md-2 text-left control-label" })
                <div class="col-md-9">
                    @(Html.Kendo().EditorFor(m => m.Subject_Description).Tools(tools => tools.Clear().Bold().Italic().Underline().Strikethrough().JustifyCenter().JustifyFull().JustifyLeft().JustifyRight().CreateLink().Unlink().TableEditing().FontColor().BackColor().Pdf().ViewHtml()))
                </div>
            </section>
        </fieldset>
    }
</div>



<div class="footer">
    <button type="button" class="btn btn-primary general-btn" onclick="SaveSubjects();" style="width: 150px;margin-bottom: 22px;">Save Subjects</button>
</div>