@model SyndicateIT.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Change Password";
}

<div id="ribbon">
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li>Manage</li>
        <li><a href="@Html.GetUrl("Index","Manage", SessionContent.Current.Corporate.IsSecure)">My Profile</a></li>
        <li>Change Password</li>
    </ol>
</div>
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-lg fa-fw fa-comment-o"></i> Change Password<span></span>
            </h1>
        </div>
    </div>
    @if (!ViewData.ModelState.IsValid)
    {
        <article class="col-sm-12">
            <div class="alert alert-warning fade in">
                <i class="fa-fw fa fa-warning"></i>
                <strong>warning</strong> @Html.ValidationMessage("Error")
            </div>
        </article>
    }
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 sortable-grid ui-sortable">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidgetTransparent" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
                        <h2>Change User</h2>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                    <!-- widget div-->
                    <div role="content">
                        <div class="row">
                            <div class="widget-body">
                                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <fieldset>
                                        <div class="form-group  col-sm-11">
                                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control form-control-md10" })
                                                @Html.ValidationMessageFor(model => model.OldPassword, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-11">
                                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control form-control-md10" })                                             
                                                @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group  col-sm-11">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-6">
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-control-md10" })                                                
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                                            </div>
                                        </div>  
                                        <div class="form-group  col-sm-11">
                                              <div class="col-md-4">&nbsp;</div>
                                                <div class="col-md-6">
                                                    <button type="submit" class="btn btn-primary ">Change password</button>
                                                </div>
                                            </div>                                       

                                       
                                    </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget -->

            </article>

        </div>
    </section>
</div>
@section Scripts {
    
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

}
<script type="text/javascript">
    $(document).ready(function () {      
    });
</script>


